.card {
    background-color: rgba(10, 255, 10, 0.8);
    color: white;;
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.card-layout {
    padding: 20;
}

.card-label {
    color: white;
    font-size: 16px;
    vertical-align: center;
    horizontal-align: center;
}